@charset "UTF-8";
/*transform: translateX(-50%) para mover para a esquerda em 50% de sua largura*/

body::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}

/* TITULO DO HEADER */
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');
    .barlow-condensed-regular {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .barlow-condensed-light {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .barlow-condensed-medium {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    .barlow-condensed-semibold {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

/* UMA LINHA CONTÃNUA */
    @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
    .sacramento-regular {
        font-family: "Sacramento", cursive;
        font-weight: 400;
        font-style: normal;
    }

/* PONTAS AFIADAS */
    @import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
    .italiana-regular {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

/* GAL YURI */
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
  .babylonica-regular {
      font-family: "Babylonica", cursive;
      font-weight: 400;
      font-style: normal;
      }


*{
    font-family: "Roboto Condensed";
}
body{
    width: 100vw;
    background-image: linear-gradient( to bottom, rgb(212, 212, 212), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    overflow-x: hidden;
}
main{
    width: 350px;
    max-width: 1200px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: -15px;
}
header{
    width: 375px;
    max-width: 100vh;
    background-color: rgb(227, 227, 227);
    text-align: center;
    padding: 40px 0px 50px;
    margin: auto;
    height: 65px;
    background-image: linear-gradient(to top, rgb(212, 212, 212), white);
}
header h1{
    width: 80%;
    padding: 0px;
    margin: auto;
    margin-top: -15px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 2.1em;
    font-style: normal;
    text-transform: uppercase;
}
div{
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-flow:row wrap;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 80px;
    gap: 5px;
    /*border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;*/
    box-shadow: 4px 9px 12px rgba(0, 0, 0, 0.335);
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 0px;
    border-radius: 10px;
}
img{
    background-color: rgb(220, 220, 220);
    width:135px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgb(165, 165, 165);
}
img:hover{
    transform: scale(1.05);
    transition: transform 0.25s ease;
}
div.Imgs{
    display: flex;
    flex-flow:row wrap;
    gap: 14px;
    padding: 20px 0px;
    margin: auto;
    width: 90%;
    justify-content: center;
    box-shadow: none;
    border: 2px solid white;
    background-image: linear-gradient(to top,rgb(210, 210, 210), rgb(255, 255, 255));
    overflow-y: hidden;
}
main h2{
    width: 70%;
    padding: 8px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    font-size: 1.35em;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    box-shadow: 7px 5px 7px rgb(186, 186, 186);
}
main h3{
    background-color: white;
    padding: 30px 0px;
    text-align: center;
    height: 50px;
    width: 50%;
}
p{
    width: 80%;
    font-weight: 500;
    margin: auto;
    text-align: left;
}
/*Uma linha continua*/
div#caixa_ulc{
    padding: 20px 0px;
    border-radius: 7px;
    overflow-y: hidden;
}
    div#first{
        position: relative;
    }
    button#to_up, button#to_down{
        transition:background-color 0.2s ease;
        background-color: rgba(0, 0, 0, 0.584);
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        border: none;
        position: absolute;
        padding: 12px 0px;
        color:rgb(255, 255, 255);
        z-index: 1
    }
    button#to_up{top: 0%;}

    button#to_down{bottom: 0%; transform: rotate(180deg);}

    button#to_up:hover, button#to_down:hover{
        background-color: rgba(0, 0, 0, 0.784);
    }

    main>div#caixa_ulc>div.Imgs{
        height: 360px;
    }
    main>div#caixa_ulc>div.Imgs> img{
        filter: grayscale(100%);
        transform: translateY(-285px);
        transition: 1s ease;
    }
    img#chef{width: 90%;}
    img#cang{
        height: 135px;
        object-fit: cover;
    }
    img#moveis{
        width: 280px;
    }

    h2#ulc{
        width: 90%;
        padding: 5px 0px;
        margin-bottom: 9px ;
        font-family: "Sacramento", cursive;
        font-size: 2em;
        font-weight: normal;
        text-shadow:
        -0.04px -0.04px 0 black,  
        0.04px -0.04px 0 black,
        -0.04px 0.04px 0 black,
        0.04px 0.04px 0 black;
        border-radius: 5px;
        /*border: 1px solid rgb(255, 255, 255);*/
        background-color: rgb(242, 242, 242);
    }
    p#p_ulc{
        padding-bottom: 15px;
        font-family: "Sacramento", cursive;
        font-weight: lighter;
        font-size:1.6em;
        text-align: center;
        line-height: 39px;
        text-shadow:
        -0.02px -0.02px 0 black,  
        0.02px -0.02px 0 black,
        -0.02px 0.02px 0 black,
        0.02px 0.02px 0 black;
    }
    div#caixa_ulc h3{
        font-family: "Sacramento", cursive;
        font-weight: lighter;
        font-size:1.8em;
        max-height: 50px;
        padding: 30px 0px;
        background-color: rgb(247, 247, 247);
        text-shadow:
        -0.04px -0.04px 0 black,  
        0.04px -0.04px 0 black,
        -0.04px 0.04px 0 black,
        0.04px 0.04px 0 black;
        border: 1px solid rgb(215, 215, 215);
    }

    div#mencao{
        margin-top: 20px;
        width: 90%;
        height: 350px;
    }
    h4#mencao{
        height: 20px;
        display: block;
        margin: auto auto 15px 30px;
        font-family: "Sacramento", cursive;
        font-weight: lighter;
        font-size:2em;
        text-align: left;
        padding: 0px 0px 20px;
        text-shadow:
        -0.03px -0.03px 0 black,  
        0.03px -0.03px 0 black,
        -0.03px 0.03px 0 black,
        0.03px 0.03px 0 black;
    }
    
    div#pert{
        justify-content: center;
    }

/*formas geometricas*/
    h3#fg{
        font-weight: 500;
    }

/*Linhas com potas retas*/
    h2#lcpr{
        font-size: 1.51em;
        padding: 20px 0px;
        margin-bottom: 20px;
    }
    div#caixalcpr h3{
        font-size: 1.3em;
        width: 130px;
        height: 30px;
        padding: 40px 0px;
        margin-left: 15px;
    }

/*Linhas com pontas afiadas*/
    h2#lcpa{
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-size: 1.7em;
        text-shadow:
            -0.2px -0.2px 0 black,  
            0.2px -0.2px 0 black,
            -0.2px 0.2px 0 black,
            0.2px 0.2px 0 black;
        margin-bottom: 15px;
    }
    div#caixa_lcpa h3{
        height: 30px;
        padding: 40px 0px;
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        text-shadow:
            -0.15px -0.15px 0 black,  
            0.15px -0.15px 0 black,
            -0.15px 0.15px 0 black,
            0.15px 0.15px 0 black;
    }

/*Artistas perpicazes*/
    main>h4#ass{
        font-size: 16px;
        font-family: "Babylonica", cursive;
        font-weight: 400;
        font-style: normal;
        text-shadow:
            -0.1px -0.1px 0 black,  
            0.1px -0.1px 0 black,
            -0.1px 0.1px 0 black,
            0.1px 0.1px 0 black;
    }
    
    div#ultimasimagens{
        margin-bottom: 60px;
    }

div#artisp{
    display: flex;
    flex-flow:row wrap ;
    height: 500px;
    width: 900px;
    border: 1px dashed black;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
    justify-content: space-evenly;
    background-color: rgb(50, 50, 50);
}
    main>div#artisp>h3{
        width: 100%;
        background-color: black;
        color: white;
        margin: 0px;
        height: 20px;
        padding: 22px 0px;
        border-radius: 20px 20px 0px 0px;
    }

div#artisp>div#gal, div#artisp>div#nick{
    display: flex;
    width: 420px;
    height: 400px;
    flex-flow:column wrap;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(32, 32, 32);
    color: white;
}
    div#artisp>div#gal>div, div#artisp>div#nick>div{
        display: flex;
        width: 400px;
        height: 220px;
        flex-flow:row wrap;
        margin: auto;
        gap: 15px;
    } 
    div#artisp>div#gal>h4{
        width: 420px;
        height: 40px;
        padding: 0px;
        margin: 0px;
        font-family: "Babylonica", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 3em;
    }
    div#artisp>div#nick>h4{
        width: 420px;
        height: 40px;
        padding: 0px;
        margin: 0px;
    }  
    
    div#artisp>div#gal>p, div#artisp>div#nick>p{
        width: 350px;
        height: 40px;
        padding: 0px;
        margin: 0px;
        text-align: justify;
    }

    div#artisp>div#gal>div>img, div#artisp>div#nick>div>img{
        width: 110px;
        border-radius: 7px;
    }