@charset "UTF-8";
/* TITULO DO HEADER */
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');
    .barlow-condensed-regular {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .barlow-condensed-light {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .barlow-condensed-medium {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    .barlow-condensed-semibold {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

/* UMA LINHA CONTÃNUA */
    @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
    .sacramento-regular {
        font-family: "Sacramento", cursive;
        font-weight: 400;
        font-style: normal;
    }

/* PONTAS AFIADAS */
    @import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
    .italiana-regular {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

/* GAL YURI */
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
  .babylonica-regular {
      font-family: "Babylonica", cursive;
      font-weight: 400;
      font-style: normal;
  }

*{
    font-family: "Roboto Condensed";
    padding: 0px;
    margin: 0px;
}
img{
    filter: grayscale(100%);
}
::-webkit-scrollbar{
    visibility: hidden;
    width: 0px;
}
main{
    width: calc(100% - 30px);
    margin: auto;
}
header{
    width: calc(100% - 30px);
    margin: auto;
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding-top: 19px;
    padding-bottom: 24px;
    margin: auto;
    padding-bottom: 15px;
    margin-top: 7px;
    border-radius: 4px;
    border: 1px solid rgb(208, 208, 208);
    box-shadow: 0px 1px 2px rgb(209, 209, 209);
}
header h1{
    width: 90%;
    margin: auto;
    padding: 0px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 1.7em;
    line-height: 1.5em;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}
/*Classe 1 para imagens*/
.Imgs{
    width: 90%;
    flex: 1 0 220px;
    height: 60vw;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    border: none;
    margin: auto;
}
    .maior{
        width: 79%;
        height: 100%;
        border: none;
    }
    .maior>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.5s ease-out;
        border-radius: 6px;
        border: 1px solid rgb(172, 172, 172);
        box-shadow: 0px 0px 3px rgb(185, 185, 185);
    }

    .menor{
        display: flex;
        flex-flow: column;
        width: 16%;
        height: 100%;
        justify-content: space-between;
        border: none;
        gap: 6%;
    }
    .menor>img{
        width: 100%;
        max-height: 23%;
        flex: 1 0 auto;
        object-fit: cover;
        filter: grayscale(100) brightness(0.93);
        transition: filter 0.6s ease;
        border-radius: 6px;
        border: 1px solid rgb(172, 172, 172);
        box-shadow: 0px 0px 3px rgb(185, 185, 185);
    }
/*Classe txt*/
.txt{
    margin-bottom: 10px;
}
.fundo{
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 0px 1px 2px rgb(195, 195, 195);
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 35px;
}

h2{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.35em;
    font-weight: 600;
}
main h3{
    padding: 30px 0px;
    text-align: center;
    height: 50px;
    width: 50%;
}
p{
    max-width: 90%;
    font-weight: 500;
    margin: auto;
    text-align: center;
}
/*Uma linha continua*/
div#caixa_ulc{
    padding: 20px 0px;
}
    
    h2#ulc{
        text-indent: 5px;
        width: 90%; 
        margin-bottom: 9px ;
        font-family: "Sacramento", cursive;
        font-size: 2.15em;
        font-weight: normal;
        text-shadow:
        -0.04px -0.04px 0 black,  
        0.04px -0.04px 0 black,
        -0.04px 0.04px 0 black,
        0.04px 0.04px 0 black;
    }
    p#p_ulc{
        text-indent: -4px;
        font-family: "Sacramento", cursive;
        font-weight: lighter;
        font-size:1.9em;
        line-height: 41px;
        text-shadow:
        -0.02px -0.02px 0 black,  
        0.02px -0.02px 0 black,
        -0.02px 0.02px 0 black,
        0.02px 0.02px 0 black;
        margin-bottom: 40px;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 18px;
    }
    div#caixa_ulc h3{
        font-family: "Sacramento", cursive;
        font-weight: lighter;
        font-size:1.8em;
        max-height: 50px;
        padding: 30px 0px;
        background-color: rgb(247, 247, 247);
        text-shadow:
        -0.04px -0.04px 0 black,  
        0.04px -0.04px 0 black,
        -0.04px 0.04px 0 black,
        0.04px 0.04px 0 black;
        border: 1px solid rgb(215, 215, 215);
    }
div#first{
    margin-bottom: 25px;
}
    div#mencao{
        margin-top: 20px;
    }

    div#h4_mencao{
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        width: 90%;
        margin: auto;
    }
    div#h4_mencao>span{
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 18px;
        background-color: rgb(231, 231, 231);
        border-radius: 7px;
    }
    h4#mencao{
        width: 100%;
        margin: auto;
        font-family: "Sacramento", cursive;
        font-weight: lighter;
        font-size:2em;
        background-color: rgb(231, 231, 231);
        margin-bottom: 15px;
        padding: 7px 0px;
        padding-left: 15px;
        border-radius: 6px 6px 0px 0px;
        box-shadow: 0px 2px 4px rgb(111, 111, 111) ;
        text-shadow:
        -0.01px -0.01px 0 rgb(21, 21, 21),  
        0.01px -0.01px 0 rgb(21, 21, 21),
        -0.01px 0.01px 0 rgb(21, 21, 21),
        0.01px 0.01px 0 rgb(21, 21, 21);
        color: rgb(21, 21, 21);
    }
    div#pert{
        display: none;
    }
/*formas geometricas*/
    h3#fg{
        font-weight: 500;
    }

/*Linhas com potas retas*/
    h2#lcpr{
        font-size: 1.51em;
        padding: 20px 0px;
        margin-bottom: 20px;
    }
    div#caixalcpr h3{
        font-size: 1.3em;
        width: 130px;
        height: 30px;
        padding: 40px 0px;
        margin-left: 15px;
    }

/*Linhas com pontas afiadas*/
    h2#lcpa{
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-size: 1.7em;
        text-shadow:
            -0.2px -0.2px 0 black,  
            0.2px -0.2px 0 black,
            -0.2px 0.2px 0 black,
            0.2px 0.2px 0 black;
        margin-bottom: 15px;
    }
    div#caixa_lcpa h3{
        height: 30px;
        padding: 40px 0px;
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        text-shadow:
            -0.15px -0.15px 0 black,  
            0.15px -0.15px 0 black,
            -0.15px 0.15px 0 black,
            0.15px 0.15px 0 black;
    }

/*Artistas perpicazes*/
    main>h4#ass{
        font-size: 16px;
        font-family: "Babylonica", cursive;
        font-weight: 400;
        font-style: normal;
        text-shadow:
            -0.1px -0.1px 0 black,  
            0.1px -0.1px 0 black,
            -0.1px 0.1px 0 black,
            0.1px 0.1px 0 black;
    }
    
    div#ultimasimagens{
        margin-bottom: 60px;
    }

div#artisp{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    width: 100%;
    border: 1px dashed black;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
    justify-content: space-evenly;
    background-color: rgb(50, 50, 50);
}
    main>div#artisp>h3{
        width: 100%;
        background-color: black;
        color: white;
        margin: 0px;
        height: 20px;
        padding: 22px 0px;
        border-radius: 20px 20px 0px 0px;
        box-sizing: border-box;
    }

div#nick{
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
    color: white;
}

    div#gal>h4{
        height: 40px;
        padding: 0px;
        margin: 0px;
        font-family: "Babylonica", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 3em;
    }
    div#nick>h4{
        height: 40px;
        padding: 0px;
        margin: 0px;
    }  
    
    div#nick>p{
        height: 40px;
        padding: 0px;
        margin: 0px;
        text-align: justify;
    }

    div#artisp>div#gal>div>img, div#artisp>div#nick>div>img{
        width: 110px;
        border-radius: 7px;
    }