@charset "UTF-8";
/* TITULO DO HEADER */
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');
    .barlow-condensed-regular {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .barlow-condensed-light {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .barlow-condensed-medium {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    .barlow-condensed-semibold {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

/* UMA LINHA CONTÃNUA */
    @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
    .sacramento-regular {
        font-family: "Sacramento", cursive;
        font-weight: 400;
        font-style: normal;
    }

/* PONTAS AFIADAS */
    @import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
    .italiana-regular {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

*{
    font-family: "Roboto Condensed";
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(243, 243, 243);
}
img{
    filter: grayscale(100%);
}
::-webkit-scrollbar{
    visibility: hidden;
    width: 0px;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
}
body>div{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main{
    width: calc(100% - 16px);
    max-width: 1380px;
    max-height: 630px;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    overflow-x: auto;
    gap: 20px;
}

h1{
    display: inline;
    padding: 10px 0px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 1.7em;
    line-height: 1.5em;
    font-style: normal;
    text-transform: uppercase;
    writing-mode: sideways-lr;
    padding-left: 20px;
}

/*Classe 1 para imagens*/
.Imgs{
    width: 87%;
    flex: 1 0 220px;
    height: 210px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    border: none;
    margin: auto;
}
    .maior{
        width: 79%;
        height: 100%;
        border: none;
    }
    .maior>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.5s ease-out;
        border-radius: 6px;
        border: 1px solid rgb(172, 172, 172);
        box-shadow: 0px 0px 3px rgb(185, 185, 185);
    }

    .menor{
        display: flex;
        flex-flow: column;
        width: 16%;
        height: 100%;
        justify-content: space-between;
        border: none;
        gap: 6%;
    }
    .menor>img{
        width: 100%;
        max-height: 23%;
        flex: 1 0 auto;
        object-fit: cover;
        filter: grayscale(100) brightness(0.93) opacity(0.8);
        transition: filter 0.6s ease;
        border-radius: 6px;
        border: 1px solid rgb(172, 172, 172);
        box-shadow: 0px 0px 3px rgb(185, 185, 185);
    }
/*Classe txt*/
.txt{
    margin-bottom: 10px;
}
.fundo{
    background-color: white;
    box-shadow: 0px 0px 5px rgb(195, 195, 195);
    padding-top: 10px;
    padding-bottom: 35px;
    margin-bottom: 7px;
    margin-top: 5px;
    min-width: 305px;
}

h2{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.35em;
    font-weight: 600;
}
main h3{
    padding: 30px 0px;
    text-align: center;
    height: 50px;
    width: 50%;
}
p{
    max-width: 87%;
    font-weight: 400;
    margin: auto;
}


/*Uma linha continua*/
#caixa_ulc{
    height: 570px;
    padding-bottom: 0px;
    box-sizing: border-box;
    margin-left: 10px;
}
    h2#ulc{
        text-indent: 5px;
        width: 90%; 
        margin-bottom: 9px ;
        font-family: "Sacramento", cursive;
        font-size: 2.15em;
        font-weight: normal;
        text-shadow:
        -0.04px -0.04px 0 black,  
        0.04px -0.04px 0 black,
        -0.04px 0.04px 0 black,
        0.04px 0.04px 0 black;
    }
    p#p_ulc{
        text-indent: -4px;
        font-family: "Sacramento", cursive;
        font-weight: lighter;
        font-size:1.9em;
        line-height: 41px;
        text-shadow:
        -0.02px -0.02px 0 black,  
        0.02px -0.02px 0 black,
        -0.02px 0.02px 0 black,
        0.02px 0.02px 0 black;
        margin-bottom: 40px;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 18px;
    }
#catimg{
    filter: brightness(1.1);
}
div#first{
    margin-bottom: 25px;
}
    div#mencao{
        margin-top: 20px;
    }

    #head_mencao{
        display: block;
    }
    #head_mencao>div{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 87%;
        height: 45px;
        margin: auto;
        border-radius: 6px;
        box-shadow: 0px 0px 4px rgb(143, 143, 143);
    }
    #head_mencao>div>h4{
        text-indent: 15px;
        font-family: "Sacramento", cursive;
        font-weight: lighter;
        font-size: 1.8em;
        text-shadow:
        -0.01px -0.01px 0 rgb(21, 21, 21),  
        0.01px -0.01px 0 rgb(21, 21, 21),
        -0.01px 0.01px 0 rgb(21, 21, 21),
        0.01px 0.01px 0 rgb(21, 21, 21);
        color: rgb(21, 21, 21);
        letter-spacing: 0.8px;
    }
    #head_mencao>div>span{
        height: 24px;
        padding: 10px;
    }
    #colapse{
        display: none;
    }
    div#pert{
        display: none;
    }
/*formas geometricas: usar simbox ou Modernia Geometric Font*/
    h2#fg{
        font-weight: 600;
        letter-spacing: 0.8px;
        padding-bottom: 10px;
    }

/*Linhas com potas retas*/
    h2#lcpr{
        font-size: 1.3em;
        margin-top: 7px;
        margin-bottom: 24px;
        letter-spacing: 1px;
    }
/*Linhas com pontas afiadas*/
    h2#lcpa{
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-size: 1.45em;
        letter-spacing: 1px;
        text-shadow:
            -0.2px -0.2px 0 black,  
            0.2px -0.2px 0 black,
            -0.2px 0.2px 0 black,
            0.2px 0.2px 0 black;
        margin-bottom: 24px;
        margin-top: 5px;
    }
    div#caixa_lcpa h3{
        height: 30px;
        padding: 40px 0px;
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        text-shadow:
            -0.15px -0.15px 0 black,  
            0.15px -0.15px 0 black,
            -0.15px 0.15px 0 black,
            0.15px 0.15px 0 black;
    }

/*Totalmente preenchidas: usar a font blackout*/
#Tt>p{
    margin-bottom: 15px;
    text-align: left;
}

/*Entradas minimas: usar a impact*/

/*Partes recortadas: usar Sabang Island*/
#eleimg{
    filter: brightness(1.1);
}

/*Luz numa parte spmbras em outras: usar bifur*/

